* {
  margin: 0;
  padding: 0 2px;
  font-family: Bahnschrift, serif;
}

.table{
  float:left;
  background:white;
  margin:0;
}
.table:hover{
  background: #d9d9d9;
}
.icon {
  width: 100px;
}
.day {
  color: orangered;
}
.night {
  color: #00c4ff;
}
.bottom {
  text-align: center;
}
.text {
  min-height: 50px;
}
