* { /* Подчищаем отсупы и поля */
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background: url("src/backgruuund.png") center no-repeat;
}

.center-side {
  width: 60%;
  margin: auto;
  text-align: center; /* центрируем всЁ */
}

.menu-list {
  list-style-type: none; /* Убираем маркеры */
  display: inline-flex; /* горизонтальное расположение элементов */
}

.menu-list a {
  text-decoration: none; /* убираем подчеркивание ссылок */
  padding: 90px 20px;
  font-weight: bold;
  display: block;
  color: #333333;
  white-space: nowrap;
  font-family: Bahnschrift, serif;
}

.menu-list .link-logo {
  padding: 0; /* Избавляемся от рамок вокруг изображения */
  height: 200px; /* фиксированная высота */
}

.menu-list a:hover {
  background-color: #f1d7d7;
  opacity:  55%;
}

.main-about {
  top:220px; /*это важно*/

}

#footer {
  bottom: 5px; /*это тоже важно*/

}

.firstLetter {
  color: #7c6976;
  font-size: 2em;
}

.main-about {
  display: inline-flex;
}

.main-article {
  font-family: Bahnschrift, Calibri, Consolas, sans-serif;
  font-style: oblique;
}
