* { /* Подчищаем отсупы и поля */
  margin: 0;
  padding: 0;

}

body {
  background: url("src/backgruuund.png") center no-repeat;
}

.center-side {
  width: 60%;
  margin: auto;
  text-align: center; /* центрируем всЁ */
}

.menu-list {
  list-style-type: none; /* Убираем маркеры */
  display: inline-flex; /* горизонтальное расположение элементов */
}

.menu-list a {
  text-decoration: none; /* убираем подчеркивание ссылок */
  padding: 90px 20px;
  font-weight: bold;
  display: block;
  color: #333333;
  white-space: nowrap;
  font-family: "Bauhaus 93", serif;
}

.menu-list .link-logo {
  padding: 0; /* Избавляемся от рамок вокруг изображения */
  height: 200px; /* фиксированная высота */
}

.menu-list a:hover {
  background-color: #f1d7d7;
}

.main-about {
  border: 2px dashed orange;
  top:220px; /*это важно*/
}

.footer {
  bottom: 5px; /*это тоже важно*/
}
