.hat {
  margin-right: auto;
  margin-left: auto;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none; /* Убираем маркеры */
  width: 100px;
}

ul {
  display: inline-flex; /* горизонтальное расположение элементов */
  align-items: center; /* вертикальное центрирование элементов */

}

.menu-list a {
  text-decoration: none; /* убираем подчеркивание ссылок */
  padding: 80px 20px 80px;
  font-weight: bold;
  display: block;
  color: #333333;
  white-space: nowrap;
  font-family: "Courier New", serif;
}

.menu-list .link-logo {
  padding: 0; /* Избавляемся от рамок вокруг изображения */
  width: 1%; /* Мера по избавлению от назойливой полоски под изображением */
}

.menu-list a:hover {
  background-color: #fff9f9;
  color: #333333;
}
